APP_ENV=development

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
FROM_EMAIL=your-email@gmail.com
TO_EMAILS=admin@api-stori.com,notifications@api-stori.com

# Report Configuration
REPORT_CHANNELS=email,log
REPORT_SUBJECT=Migration Report - API Stori (JPS)

# Application Configuration
PORT=8080
HOST=localhost
